body
{
	background-color: #EFEDE1;
}

.navbar
{
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#content
{
	position: relative;
	margin:0;
	width: 100%;
	padding: 0;
}

.visibility-layer
{
	position: absolute;
	height: 300%;
	width: 100%;
	background-color: black;
	z-index: 999
}

.available-jobs-header
{
	margin-top: 2em;
	margin-bottom: 2em;
}

.control-img
{
    max-height: 1.6em;
}

.jumbotron 
{
	background-image: url("/res/img/landing_bg.jpg");
	background-size: cover;
	color:white;
	text-align: center;
	padding-top: 12em;
	padding-bottom: 10em;
	margin-bottom: 0;
}

.login-container
{
	margin-top:-20em;
	width: 10em;
	height: 10em;
}

.center-text
{
	text-align: center;
}

.job-posting
{
	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 2em;
	margin-bottom: 8em;
	padding-bottom: 2em;
	background-color: white;
	-webkit-box-shadow: 10px 10px 64px 2px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 10px 64px 2px rgba(0,0,0,0.6);
	box-shadow: 10px 10px 64px 2px rgba(0,0,0,0.6);
	border-radius: 5px;
}


.btn-apply
{
	margin-top: 3em;
}

.landing-footer
{
	background-color: white;
	padding-top: 5em;
	padding-bottom: 5em;
}